body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
  background-color: #00B7FF;
  width: 173px;
  float: left;
}

.title {
  float: left;
  padding-left: 50px;
}

.clearfix::after {
  content: ".";
  visibility: hidden;
  display: block; 
  clear: both;
}


#footer {
  margin-top: 200px; 
}